html {
  background-color: white;
  display: block;
  font-family: Helvetica;
  font-size: 18px;
}
header {
  background-color: black;
  color: white;
  display: block;
  font-family: Helvetica, sans-serif;
  margin: 0px 0px;
  padding: 0.66rem 0rem;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  margin: 0px auto;
  max-width: 960px;
}
.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.logo span {
  font-family: Helvetica;
  font-size: 1rem;
}
nav {
  background-color: firebrick;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.nav-items {
  display: flex;
  height: auto;
  margin: 0px auto;
  max-width: 960px;
  justify-content: space-between;
}
nav span {
  margin: 0px;
}
nav span a {
  color: white;
  text-decoration: none;
}
.main {
  background-image: url("../../resources/images/moto.jpeg");
  height: 25rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainimage {
  display: flex;
  margin: 0px auto;
  max-width: 960px;
  padding-top: 9rem;
}
.new-arrival {
  background-color: black;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-top: 2rem;
  width: 20rem;
}
.new-arrival p {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.new-arrival h2 {
  color: white;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.product {
  width: 30%;
}
.product-image {
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  padding: 2em 0px;
}
.product-image img {
    max-width: 8em;
}
img {
    border-style: none;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.info {
  width: 35%;
}
.info .title {
    display: block;
    background-color: black;
    color: white;
    padding: 1em 2em;
}
footer {
    background-color: black;
    color: white;
    padding: 5em 0;
    margin-top: 4em;
}
